@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669&display=swap');
.main {
  background-color: #000000 !important;
  background-size: cover;
  background-position: center center;
  inset: 0px;
  overflow-y: auto;
  font-family: 'Orbitron'; 
  /* display: flex; */
  /* justify-content: center; */
}

.top-space {
  display: flex;
  flex-direction: column;
  /* min-height: calc(100% - 210px); */
  padding-top: 130px;
}

.main-body {
  text-align: center;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 85%;
  margin: 0px auto;
}
.flexible-pool,.locked-pool {
  height: 785px;
  color: white;
  background: rgba(25, 8, 52, 0.75);
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 40px 3px;
  border-radius: 15px;
}

.locked{
  font-family: 'Orbitron' !important;
}

.rightCardClass{
  font-family: 'Orbitron' !important;
}

.leftCardClass{
  font-family: 'Orbitron' !important;
}

.card-header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 70px;
  background: rgb(25, 8, 52);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.label {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.icon {
  position: absolute;
  right: 10px;
}

.que {
  height: 1rem;
  border-radius: 100%;
  padding: 0.1rem;
  cursor: pointer;
}

.card-body {
  padding: 18px 42px;
}

.comment {

}

.hidden {
  visibility: hidden;
}

.com-lab {
  margin-bottom: 24px;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgb(126, 109, 150);
}

.card1 {
  margin-bottom: 24px;
  border: 1px solid rgb(178, 151, 217);
  box-sizing: border-box;
  border-radius: 15px;
}

.card1-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(178, 151, 217);
  height: 40px;
}

.card1-body {
  padding: 11px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card1-body-left,.card1-body-right {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}

.card1-body-letter {
  font-size: 12px;
  line-height: 15px;
}

.card1-body-value {
  font-weight: bold !important;
  font-size: 12px;
  line-height: 15px;
}

.amount-col {
  color: rgb(58, 255, 111);
}

.card2 {
  background: rgba(25, 8, 52, 0.5);
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 40px 3px;
  border-radius: 15px;
}

.card2-header {
  font-weight: bold !important;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  height: 40px;
  background: rgb(18, 1, 42);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card2-body {
  padding-bottom: 1px !important;
}
.card2-body-amount {
  padding: 11px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card2-body-amount-sep {
  padding: 11px 0px;
  grid-template-columns: repeat(2, 1fr);
}

.card2-body-amount-value {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}
.card2-body-amount-value-let {
  font-size: 14px !important;
  line-height: 17px;
}

.card2-body-amount-value-num {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgb(13, 252, 255);
}

.card2-body-subcard {
  border: 1px solid rgb(178, 151, 217);
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0px 22px 22px;
}
.card2-body-subcard-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 40px;
}

.background {
  background: radial-gradient(59.86% 47.5% at 50% 83.75%, rgb(133, 49, 241) 0%, rgb(91, 32, 227) 100%) !important;
}

.card2-body-subcard-header-left {
  
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  /**/
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  /**/
  font-family: 'Orbitron' !important;
  font-style: normal;

}

.card2-body-subcard-header-left:first-child {
  border-right: 1px solid rgb(178, 151, 217);
  border-top-left-radius: 15px;
}

.card2-body-subcard-header-left-locked {
  
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  /**/
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  /**/
  font-family: 'Orbitron' !important;
  font-style: normal;

}

.card2-body-subcard-header-left-locked:first-child {
  border-right: 1px solid rgb(178, 151, 217);
  border-top-left-radius: 15px;
}

.card2-body-subcard-header-right:last-child {
  border-top-right-radius: 15px;
}

.card2-body-subcard-header-right {
  background: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;

  font-family: 'Orbitron' !important;
  font-style: normal;
}

.card2-body-subcard-header-right-locked:last-child {
  border-top-right-radius: 15px;
}

.card2-body-subcard-header-right-locked {
  background: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;

  font-family: 'Orbitron' !important;
  font-style: normal;
}

.locked {
  font-style: italic;
  font-weight: 600;
  font-size: 9px;
  color: rgb(126, 109, 150);
  position: absolute;
  bottom: -1px;
  right: 0px;
  left: 0px;
}

.card2-body-subcard-body {
  padding: 20px 38px;
  border-top: 1px solid rgb(178, 151, 217) !important;
}

.max-amount {
  margin-bottom: 1.25rem !important;
}
.justify-content {
  justify-content: space-between;
}

.items-center {
  align-items: center !important;
}

.flex {
  display: flex;
}

.input-field {
  position: relative !important;
}

.inp-color {
  color: rgb(13, 252, 255);
  border: 1px solid rgb(178, 151, 217);
  box-sizing: border-box;
  border-radius: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  height: 40px;
  width: 100%;
  padding-right: 40%;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.flex-grow {
  flex-grow: 1;
}

.inp-label {
  position: absolute;
  right: 26%;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: rgb(125, 108, 150);
}

.max-btn {
  background: rgb(178, 151, 217);
  border-radius: 44px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 57px;
  height: 21px;
  border: none;
  cursor: pointer;
  font-family: 'Orbitron' !important;
}

.ml-2 {
  margin-left: 0.5rem;
}

.sticky {
  position: sticky;
  display: flex;
  justify-content: center;
}

.sticky-conect::after {
  border-radius: 44px;
  position: absolute;
    inset: -1px;
    background: linear-gradient(
90deg, rgb(204, 43, 220) 0%, rgb(0, 233, 201) 100%);
    content: "";
    z-index: -1;
}

.sticky-conect {
  border-radius: 44px;
  height: 40px;
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;
  padding: 0px 30px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 8, 52, 0.75);
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
}

.tooltip-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid rgb(65, 67, 72);
  padding: 0px 20px 5px;
}

.tooltip-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 20px 5px;
}

.tooltip {
  padding: 0;
  text-align: left!important;
  filter: drop-shadow(0px 4px 40px rgba(0,0,0,.25));
}

.css-1k51tf5-MuiTooltip-tooltip {
  background-color: rgb(24, 5, 53) !important;
  border-radius: 4px;
  color: #fff;
  font-family: 'Orbitron' !important;
  padding: 4px 8px;
  font-size: 0.6875rem;
  max-width: 367px !important;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  position: relative;
  border: 1px solid rgb(178, 151, 217);
}